# Git
.git
.gitignore

# Docker
docker-compose.yml
.env

# Тимчасові файли Python та кеш
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Віртуальне оточення (якщо створював локально)
venv/
.venv/
env/

# Медіа та завантаження (ми мапимо їх через volumes, в образі вони не потрібні)
media/
staticfiles/

# Налаштування IDE (PyCharm, VS Code)
.idea/
.vscode/